.result {
  max-width: 200px;
  width: 400px;
  background-color: black;
  padding: 5px 15px;
  border-radius: 6px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
